@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray-950: #0a0a0a;
  --color-gray-900: #121212;
  --color-industrial-black: #050505;
}

@layer base {
  body {
    @apply bg-gray-100 text-gray-900 transition-colors duration-200;
  }

  :root.dark body {
    @apply bg-industrial-black text-gray-100;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-700 rounded-full;
}

::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

/* Remove spin buttons from number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}